#map path.country {
  fill: $gray_40;
  stroke: $gray_40;
  stroke-width: 2;
}
#map rect.background {
  fill: $gray_80;
}
#map circle.cryptids {
  opacity: 0.3;
}
// 水棲
#map circle.cryptids.aquatic {
  fill: blue;
}
// 類人猿
#map circle.cryptids.anthropoid {
  fill: yellow;
}
// 哺乳類
#map circle.cryptids.mammals {
  fill: red;
}
// 爬虫類
#map circle.cryptids.reptiles {
  fill: green;
}
