<footer id="footer">
	<div class="footer-inner">
		<nav id="nav">
			<ul>
				<li ui-sref-active="on">
					<a ui-sref="home"><i class="icon-globe"></i></a>
				</li>
				<li ui-sref-active="on" ng-class="{hasNew: infoCount() > 0, on: infoCount() === 0}">
				<a ui-sref="info" ui-sref-opts="{reload: true}">
						<i class="icon-bell-circle">
							<i class="infoNum" ng-show="infoCount() > 0">{{infoCount()}}</i>
						</i>
					</a>
				</li>
				<li ui-sref-active="on">
					<a ui-sref="collection"><i class="icon-book-circle"></i></a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
